{"http_interactions":[{"request":{"method":"get","uri":"https://api.twitter.com/1.1/statuses/home_timeline.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Tue, 21 Jul 2015 22:13:12 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write"], "X-Connection-Hash":["872c57abc3636d524f483fdee86af89b"], "X-Rate-Limit-Limit":["15"], "X-Rate-Limit-Remaining":["14"], "X-Rate-Limit-Reset":["1437517692"], "X-Response-Time":["50"], "X-Transaction":["c9518a2b037da3fe"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"UTF-8","string":"[{\"created_at\":\"Tue Jul 21 22:10:12 +0000 2015\",\"id\":623615989020819457,\"id_str\":\"623615989020819457\",\"text\":\"this conference call has more congrats\\u2019s than congrats twitter\",\"source\":\"\\u003ca href=\\\"https:\\/\\/about.twitter.com\\/products\\/tweetdeck\\\" rel=\\\"nofollow\\\"\\u003eTweetDeck\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":31178767,\"id_str\":\"31178767\",\"name\":\"Will Alden\",\"screen_name\":\"williamalden\",\"location\":\"SF\",\"description\":\"I cover Silicon Valley for BuzzFeed dot com, the website. Contact me at will.alden@buzzfeed.com\",\"url\":\"http:\\/\\/t.co\\/HWBohnufXA\",\"entities\":{\"url\":{\"urls\":[{\"url\":\"http:\\/\\/t.co\\/HWBohnufXA\",\"expanded_url\":\"http:\\/\\/williamalden.co\",\"display_url\":\"williamalden.co\",\"indices\":[0,22]}]},\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":5305,\"friends_count\":605,\"listed_count\":197,\"created_at\":\"Tue Apr 14 17:49:37 +0000 2009\",\"favourites_count\":12907,\"utc_offset\":-18000,\"time_zone\":\"Quito\",\"geo_enabled\":true,\"verified\":true,\"statuses_count\":10232,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"C0DEED\",\"profile_background_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_background_images\\/880127533\\/93b43eae414416108dd981c0cfe28a79.jpeg\",\"profile_background_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_background_images\\/880127533\\/93b43eae414416108dd981c0cfe28a79.jpeg\",\"profile_background_tile\":true,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/572863574936326144\\/hhXWjP98_normal.jpeg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/572863574936326144\\/hhXWjP98_normal.jpeg\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/31178767\\/1435107885\",\"profile_link_color\":\"94D487\",\"profile_sidebar_border_color\":\"FFFFFF\",\"profile_sidebar_fill_color\":\"DDEEF6\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":true,\"has_extended_profile\":false,\"default_profile\":false,\"default_profile_image\":false,\"following\":true,\"follow_request_sent\":false,\"notifications\":false},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"is_quote_status\":false,\"retweet_count\":0,\"favorite_count\":1,\"entities\":{\"hashtags\":[],\"symbols\":[],\"user_mentions\":[],\"urls\":[]},\"favorited\":false,\"retweeted\":false,\"lang\":\"en\"},{\"created_at\":\"Tue Jul 21 22:09:21 +0000 2015\",\"id\":623615773056106496,\"id_str\":\"623615773056106496\",\"text\":\"RT @Homestar_ebooks: We finally switched over our web hosting from Geofire to Angelcities\",\"source\":\"\\u003ca href=\\\"http:\\/\\/twitter.com\\/download\\/iphone\\\" rel=\\\"nofollow\\\"\\u003eTwitter for iPhone\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in[...]
